version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - POSTGRES_URL=postgres://postgres:postgres@db:5432/blastdb
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blastdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
