@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #4771ff; /* New background color */
  border: 1px solid #174cff; /* New border color */
  padding: 5px 10px;
  font-size: 16px;
  color: #c7c7c7;
  cursor: pointer;
  transition: background-color 0.2s;
}

.DropdownObj {
  background-color: #4771ff; /* New background color */
  border: 1px solid #174cff; /* New border color */
  padding: 5px 10px;
  font-size: 16px;
  color: #c7c7c7;
  cursor: pointer;
  transition: background-color 0.2s;
}